$gymbyRed: #FE5F55;
$gymbyHoverRed: #cc3d36;

$gymbyLightWhiteBlue: #F7F7FF;
$gymbyLightBlue: #BDD5EA;
$gymbyBlue: #577399;
$gymbyDarkBlue: #495867;

$gymbyGolden: #FFC148;
$gymbyYellow: #FFE000;

$gymbyGreen: #64C641;


$mediaPC: 1087px;
$mediaLaptop: 991.98px;
$mediaTablet: 767.98px;
$mediaMobile: 479.98px;


.pointsList {
  &__item {
    display: flex;
    align-items: baseline;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 26 / 19 * 100%;
    color: #000000;

    &:before {
      content: '';
      min-width: 9px;
      height: 9px;
      background: $gymbyRed;
      border-radius: 2px;
      margin-right: 7px;
    }
  }
}


