.userAccountProfile {
  padding: 30px 220px;
  &__body {
    display: flex;
    flex-direction: column;
  }
}

.userDescriptionBlock {
  margin: 35px 0 35px 0;
  &>*:not(:last-child) {
    margin-bottom: 6px;
  }
  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    color: #000000;
  }
  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
    color: #000000;
    opacity: 0.8;
  }
}