@import "../general/programStyles.module.scss";

.program {
  &__title {}
  &__titleEdit {
    padding: 21px 0;
    margin-left: 25%;
    display: flex;
    align-items: center;
    &>*:not(:last-child) {
      margin-right: 50px;
    }

    &_default {
      display: flex;
      align-items: center;
      &>*:not(:last-child) {
        margin-right: 50px;
      }
    }
  }
  &__container {}
  &__body {
    display: flex;
    flex-direction: column;
    padding: 25px 10px 40px 10px;
    width: 100%;
  }

}

.button {
  margin: 0 0 25px 0px;
  align-self: center;
  width: 200px;
}

.approaches {
  align-self: center;
  width: 850px;
  &>*:not(:last-child) {
    margin-bottom: 20px;
  }
}