/*Here are the general styles for each of the navbars*/
.pointsList__item {
  display: flex;
  align-items: baseline;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 136.8421052632%;
  color: #000000;
}
.pointsList__item:before {
  content: "";
  min-width: 9px;
  height: 9px;
  background: #FE5F55;
  border-radius: 2px;
  margin-right: 7px;
}

.buttonOrange {
  text-align: center;
  width: 100%;
  height: 50px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #F5F5F5;
  background: #FE5F55;
  box-shadow: 0px 30px 20px -20px rgba(254, 95, 85, 0.5);
  border-radius: 10px;
  transition: 0.3s ease 0s;
}
.buttonOrange:hover {
  background: #cc3d36;
}

.buttonGold {
  text-align: center;
  width: 100%;
  height: 45px;
  background: #FFC148;
  box-shadow: 0px 30px 20px -20px rgb(255, 193, 72);
  border-radius: 15px;
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  color: #000000;
}
.buttonGold:hover {
  background: #fdcb6a;
}

.buttonExit {
  display: inline-flex;
  align-items: center;
}
.buttonExit span {
  margin-left: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  color: #000000;
}
.buttonExit__icon img {
  width: 80%;
}
.buttonExit:hover {
  cursor: pointer;
}
.buttonExit:hover span {
  text-decoration: underline;
}

.buttonGreen {
  text-align: center;
  width: 100%;
  height: 45px;
  padding: 0 6px;
  background: #64C641;
  box-shadow: 0px 30px 20px -20px rgba(100, 198, 65, 0.6);
  border-radius: 15px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}
.buttonGreen:hover {
  background: #3aaf13;
}

.pointsList__item {
  display: flex;
  align-items: baseline;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 136.8421052632%;
  color: #000000;
}
.pointsList__item:before {
  content: "";
  min-width: 9px;
  height: 9px;
  background: #FE5F55;
  border-radius: 2px;
  margin-right: 7px;
}

.header {
  padding: 20px 0 0 0;
}
.header__container {
  display: flex;
  align-items: center;
  min-height: 111px;
}
.header__logo {
  z-index: 2;
}
.header__menu {
  margin: 0 164px 0 105px;
}
.header__iconsBody {
  display: flex;
  align-items: center;
  margin-right: 22px;
}
.header__iconsBody > *:not(:last-child) {
  margin-right: 8px;
}
.header__buttonsBody {
  display: flex;
  align-items: center;
  flex: 0 1 150px;
}
.header__buttonsBody > *:not(:last-child) {
  margin-right: 5px;
}

.menu__list {
  display: flex;
  align-items: center;
}
.menu__list > *:not(:last-child) {
  margin-right: 15px;
}
.menu__link {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 137%;
  color: #000000;
}
.menu__link:hover {
  text-decoration: underline;
}
.menu__link_active {
  color: #FE5F55;
}

.burgerMenu {
  display: none;
}

@media (max-width: 1200px) {
  .header__menu {
    margin: 0 120px 0 60px;
  }
}
/*PC*/
@media (max-width: 1087px) {
  .header__buttonsBody > * {
    height: 45px;
    font-size: 16px;
  }
  .header__buttonsBody {
    flex: 0 1 220px;
  }
  .header__menu {
    margin: 0 95px 0 60px;
  }
}
/*Laptop*/
@media (max-width: 991.98px) {
  .header__menu {
    margin: 0;
  }
  .header__generalRightBlock {
    flex: 1 1 auto;
  }
  .burgerMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 30px;
    height: 22px;
    position: relative;
    cursor: pointer;
    z-index: 2;
    margin: 0 0 0 15px;
  }
  .burgerMenu:after, .burgerMenu:before {
    content: "";
    height: 4px;
    background-color: #000000;
    border-radius: 5px;
  }
  .burgerMenu span {
    height: 4px;
    background-color: #000000;
    border-radius: 5px;
  }
  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: -100%;
    width: 100%;
    height: 150px;
    background-color: #FE5F55;
    transition: top 0.4s ease 0s;
    overflow: auto;
    z-index: 1;
  }
}
@media (max-width: 900px) {
  .header__menu {
    padding-left: 130px;
  }
}
/*Tablet*/
@media (max-width: 767.98px) {
  .header__logo {
    flex: 0 0 130px;
  }
  .header__logo img {
    max-width: 100%;
  }
  .header__buttonsBody {
    flex-direction: column;
    flex: 0 1 100px;
  }
  .header__buttonsBody > *:not(:last-child) {
    margin-bottom: 5px;
  }
  .menu {
    height: 150px;
    padding-left: 220px;
  }
  .menu__list {
    flex-wrap: wrap;
  }
  .menu__list > * {
    margin-right: 15px;
  }
}
/*Mobile*/
@media (max-width: 479.98px) {
  .header .header__buttonsBody {
    flex: 0 1 70px;
  }
  .header .header__buttonsBody > * {
    font-size: 13px;
    height: 35px;
  }
  .header__logo {
    flex: 0 0 110px;
  }
  .header__iconsBody {
    flex-direction: column;
    align-items: flex-start;
    margin-right: 0px;
  }
  .header__iconsBody > *:not(:last-child) {
    margin-bottom: 8px;
  }
  .burgerMenu {
    margin-left: 2px;
  }
  .menu {
    height: 160px;
    padding-left: 200px;
  }
  .menu__list {
    flex-direction: column;
    align-items: flex-start;
  }
  .menu__list > *:not(:last-child) {
    margin: 0 0 12px 0;
  }
}

/*# sourceMappingURL=NavbarLanding.module.css.map */
