@import '../../../utils/styles/GymbyGeneralStyles.module.scss';

%textProperties {
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  color: #000000;
}

.title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 22px;
  line-height: 37px;
  color: #000000;
}
.navigation {
  &__container {}
}
.list {
  display: inline-flex;
  flex-direction: column;
  &>*:not(:last-child) {
    margin-bottom: 12px;
  }
}
.item {
  display: flex;
  align-items: center;
  &>*:not(:last-child) {
    margin-right: 9px;
  }
}
.icon {
  & img  {
    width: 90%;
  }
}
.text {
  @extend %textProperties;
  opacity: 0.65;
  &:hover {
    opacity: 1;
  }
}

.active {
  @extend %textProperties;
  opacity: 1;
  &:after {
    content: "";
    position: absolute;
    right: -1px;
    height: 40px;
    width: 3px;
    background-color: $gymbyRed;
  }
}
