.diaryModalWindowTemplate {
  display: flex;
  flex-direction: column;
}

.topBlock {
  display: flex;
  padding: 0 30px;
}
.search {
  margin-top: 12px;
  width: 350px;
  margin-right: 100px;
  align-self: center;
}
.date {
  margin-top: 12px;
  align-self: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}
.close {
  margin-left: auto;
  & img {}
}
.bottomBlock {
  padding: 22px 0 0 0;
}