@import "../../utils/styles/GymbyGeneralStyles.module.scss";
@import "./Titular.module.scss";
@import "./Story.module.scss";
@import "./Way.module.scss";
@import "./TrainerAdvertising.module.scss";
@import "./Footer.module.scss";


.pointsList {
  &__item {
    display: flex;
    align-items: baseline;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 26 / 19 * 100%;
    color: #000000;
    &:before {
      content: '';
      min-width: 9px;
      height: 9px;
      background: $gymbyRed;
      border-radius: 2px;
      margin-right: 7px;
    }
  }
}

