@import '../general/userAccount.module.scss';

.searchItem {
  height: 90px;
  border-top: 2px solid rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  justify-content: center;
  &_borderBottom {
    border-bottom: 2px solid rgba(0, 0, 0, 0.06);
  }
  &__body {
    padding: 0 100px 0 30px;
    display: flex;
    align-items: center;
  }
}
.avatar {
  @include avatarBlock(70px, 70px);
  & img {
    @include avatarBlockImage();
  }
}
.fullTextBlock {
  display: flex;
  padding-top: 10px;
}
.infoBlock {
  margin: 0 10px 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__name {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
  }
  &__username {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    opacity: 0.7;
  }
}
.trainerIcon {

}
.addIcon {
  margin-left: auto;
}
